extends ../layout

block content
  h1 Login Account
  .container
    form(action="/login",method="post")        
        .form-group
            label(for="email") Email Address
            input#email(type="text", class="form-control", name="email"  value="fa18-bse-112@cuilahore.edu.pk" required)
        .form-group
            label(for="password") Password
            input#price(type="password", class="form-control", name="password",  value="bhoolgaya" required)
        input(type="submit", class="btn " value="Login")