extends ../layout

block content
    .container
        h1 Add New Product
        form(action="/products/add",method="post")
            .form-group
                label(for="name") Product Name
                input#name(type="text", class="form-control", name="name" style = "border-bottom: 2px solid #343a40")
            .form-group
                label(for="price") Product Price
                input#price(type="text", class="form-control", name="price" style = "border-bottom: 2px solid #343a40")
            .form-group
                label(for="discription") Product Discription
                input#discription(type="text", class="form-control", name="discription" style = "border-bottom: 2px solid #343a40")
            .form-group
                label(for="rating") Product Rating
                input#rating(type="number", min="0", max="5", class="form-control", name="rating" style = "border-bottom: 2px solid #343a40")
            input(type="submit", class="btn btn-info")